# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use
# For example: application-dev.yml if you use the "dev" profile.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# https://docs.spring.io/spring-boot/reference/features/profiles.html
# ===================================================================
spring.config.import: optional:configserver:http://localhost:8888

logging:
  level:
    root: debug
    com.ars.gateway: debug
    io.netty: info
    io.lettuce.core.protocol: info
    io.github.resilience4j: info
    reactor.netty.transport: info
  charset:
    console: UTF-8
    file: UTF-8
  file:
    path: opt/logs/gateway

server:
  port: 8080

spring:
  cloud:
    config:
      uri: http://localhost:8888
    gateway:
      # The parameters below are relatively dependent on each other
      # Consider before changing because one parameter will affect the remaining parameters
      httpclient:
        # Maximum time (in milliseconds) Gateway waits to open a TCP connection to downstream services
        # This only counts the TCP handshake phase, not the API response time
        connect-timeout: 2000
        # Maximum time Gateway waits for response from downstream services after request has been sent successfully
        # If downstream services does not respond within this time → Gateway disconnects, returns error 504 GATEWAY_TIMEOUT
        response-timeout: 5s
        pool:
          # Maximum number of TCP connections the Gateway can hold open simultaneously to downstream services
          # Reactor Netty uses a connection pool (reuses keep-alive connections) to avoid the overhead of opening new connections
          # This is the total number of connections per host (in Reactor Netty)
          # If the Gateway calls multiple backends, each backend has its own pool
          max-connections: 100
          # When all connections in the pool are busy, the new request will wait up to 3 seconds to borrow a free connection
          # If this time is over and there is no connection → Gateway reports an error
          # With traffic of about 500 requests/s per backend instance and average latency of ~500ms,
          # acquire-timeout = 3s ensures that requests wait for a free connection in the pool for up to 3s
          # before failing, enough for most requests to be processed without disconnection or error
          acquire-timeout: 3

      # Global request filters
      default-filters:
        - name: AddRequestHeader
          args:
            name: X-API-Version
            value: v1
        - name: AddResponseHeader
          args:
            name: Cache-Control
            value: public, max-age=300
        - name: AddResponseHeader
          args:
            name: X-Gateway-Downstream
            value: v1

      # Route configurations
      routes:
        - id: chat-service-websocket-route
          uri: lb:ws://CHAT-SERVICE
          predicates:
            - Path=/ws/**

        - id: user-service-route
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/users/**, /api/p/v1/users/**, /login/**
          filters:
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: admin-service-route
          uri: lb://ADMIN-SERVICE
          predicates:
            - Path=/api/v1/admin/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: product-service-route
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/v1/products/**, /api/p/v1/products/**, /uploads/products/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: order-service-route
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/v1/orders/**, /api/p/v1/orders/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: payment-service-route
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/v1/payments/**, /api/p/v1/payments/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: notification-service-route
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/api/v1/notifications/**, /api/p/v1/notifications/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

        - id: report-service-route
          uri: lb://REPORT-SERVICE
          predicates:
            - Path=/api/v1/reports/**, /api/p/v1/reports/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - name: CustomRateLimiter
              args:
                rate-limiter.banThreshold: 10
                rate-limiter.windowSeconds: 1
                rate-limiter.banDurationMinutes: 10

      # Load balancer configuration
      loadbalancer:
        use404: true

      # Metrics configuration
      metrics:
        enabled: true
        tags:
          path:
            enabled: true
          application: ${spring.application.name}
          environment: ${spring.profiles.active}
      observability:
        enabled: true
  # Redis Configuration for Rate Limiting
  data:
    redis:
      host: localhost
      port: 6379
      database: 1
      timeout: 100ms
      connect-timeout: 500ms
      lettuce:
        pool:
          enabled: true
          max-active: 5
          max-idle: 2
          min-idle: 2
          max-wait: 1s
          time-between-eviction-runs: 10s
        shutdown-timeout: 100ms
      ssl:
        enabled: false

# Eureka client configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost
    instanceId: ${spring.application.name}:${server.port}

app:
  device-key: NDdiMDQ3Njg3NjNkMjJjYTVhMDQyNDgA # 32 characters
  security:
    rate-limit-excluded-apis:
      - /favicon.ico
    public-request-patterns:
      - /favicon.ico
      - /api/p/**
      - /login/**
      - /ws/**
      - /uploads/**
    jwt:
      access-token:
        base64-secret-key: ZGN0LWJhc2Utc2VjcmV0LWtleS1mb3ItYWNjZXNzLXRva2VuLXZhbGlkYXRpb24=
  i18n:
    base-names:
      - classpath:i18n/messages
      - classpath:i18n/base_messages
    encoding: UTF-8
  cors:
    activate: enabled
    patterns:
      '[/**]':
        allowedOrigins:
          - "http://localhost:4200"
          - "http://localhost:9000"
          - "http://localhost:8080"
        allowedMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        allowedHeaders:
          - Content-Type
          - Authorization
          - Accept
          - Origin
          - Access-Control-Allow-Origin
          - X-CSRF-Token
          - X-Device-ID
        allowCredentials: true
        maxAge: 3600  # Cache preflight response in 1 hour
